@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.room-details__images {
  display: grid;
  grid-template-columns: 68% 32%;
  grid-template-rows: 50% 50%;
  justify-items: stretch;
}
.room-details__images .room-details__primary-img {
  object-fit: cover;
  grid-row: 1/span 2;
}
.room-details__images .room-details__secondary1-img {
  object-fit: cover;
  grid-column: 2;
  grid-row: 1;
}
.room-details__images .room-details__secondary2-img {
  object-fit: cover;
  grid-column: 2;
  grid-row: 2;
}

.room-details__content .container {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin-top: 70px;
  padding: 0 15px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) {
  display: flex;
  gap: 70px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .about-room {
  width: 100%;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .about-room .about-room__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .about-room .about-room__content {
  margin-top: 20px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .about-room .about-room__content .about-room__item {
  position: relative;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .about-room .about-room__content .about-room__item .about-room__item-title {
  font-weight: bold;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .about-room .about-room__content .about-room__item .about-room__item-content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 55px;
  padding-bottom: 20px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .about-room .about-room__content .about-room__item:nth-child(n)::before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .about-room .about-room__content .about-room__item:nth-child(1)::before {
  content: "";
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .about-room .about-room__content .about-room__item:nth-child(2)::before {
  content: "";
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .about-room .about-room__content .about-room__item:nth-child(3)::before {
  content: "";
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .about-room .about-room__content .about-room__item + .about-room__item {
  margin-top: 20px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(1) .room-details__impressions {
  width: 100%;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-details__title {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-details__title .room-client-review__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-details__title .room-client-review__number {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
  align-self: center;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review {
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: 4;
  column-gap: 10px;
  margin-top: 30px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review .room-client-review__avatar {
  grid-row: 1/span 2;
  grid-column: 1;
  width: 48px;
  height: 48px;
  border-radius: 32px;
  border: 2px solid #ffffff;
  filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review .room-client-review__name {
  grid-row: 1;
  grid-column: 2/span 10;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review .room-client-review__date {
  grid-row: 2;
  grid-column: 2/span 10;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.75);
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review .room-client-review__likes {
  grid-row: 3/span 2;
  grid-column: 1;
  max-width: 40px;
  height: 20px;
  margin-top: 12px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: flex;
  align-items: center;
  justify-self: center;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review .room-client-review__likes .icon-favorite {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 9px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review .room-client-review__likes .icon-favorite::before {
  content: "";
  color: rgba(31, 32, 65, 0.25);
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review .room-client-review__likes .number {
  width: 10px;
  height: 13px;
  margin-right: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: rgba(31, 32, 65, 0.25);
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review .room-client-review__likes.active {
  background: #ffffff;
  border: 1px solid #bc9cff;
  box-sizing: border-box;
  border-radius: 10px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review .room-client-review__likes.active .icon-favorite::before {
  content: "";
  color: #bc9cff;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review .room-client-review__likes.active .number {
  color: #bc9cff;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(2) .room-client-review .room-client-review__text {
  grid-row: 4;
  grid-column: 2/span 11;
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.room-details__content .container .room-details__details .room-details__item:nth-child(3) {
  margin-top: 30px;
  display: flex;
  gap: 70px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(3) .room-details__rules .room-details__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
  margin-left: 20px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(3) .room-details__rules .room-details__rules-ul {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-top: 20px;
  min-width: 290px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(3) .room-details__rules .room-details__rules-ul li {
  position: relative;
  left: 20px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(3) .room-details__rules .room-details__rules-ul li::before {
  content: "●";
  left: -20px;
  font-size: 24px;
  color: rgba(31, 32, 65, 0.25);
  position: absolute;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(3) .room-details__rules .room-details__rules-ul li + li {
  margin-top: 10px;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(3) .room-details__cancel .room-details__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
}
.room-details__content .container .room-details__details .room-details__item:nth-child(3) .room-details__cancel .room-details__cancel-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-top: 20px;
}
.room-details__content .room-details__form .find-rooms__form .first-end-btwn {
  display: flex;
  justify-content: space-between;
}
.room-details__content .room-details__form .find-rooms__form .first-end-btwn .first-end-btwn__number {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 17px;
  color: #1f2041;
}
.room-details__content .room-details__form .find-rooms__form .first-end-btwn .first-end-btwn__price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.room-details__content .room-details__form .find-rooms__form .first-end-btwn_mt10 {
  margin: 20px 0 0 0;
}
.room-details__content .room-details__form .find-rooms__form .first-end-btwn_mt30 {
  margin: 30px 0 0 0;
}

.selected-text {
  display: flex;
  align-self: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  margin: 0 0 0 15px;
}

.selected-text_m0 {
  margin: 0 0 0 0;
}

.additional-services {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}

.additional-services__item {
  margin: 10px 0 0 0;
  display: flex;
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 0 0 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  cursor: pointer;
  position: relative;
}
.info-icon:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 40%;
  top: -200%;
  z-index: 1;
  /* Отображаем подсказку поверх других элементов */
  background: rgba(255, 255, 230, 0.9);
  /* Полупрозрачный цвет фона */
  font-family: Arial, sans-serif;
  /* Гарнитура шрифта */
  font-size: 11px;
  /* Размер текста подсказки */
  padding: 5px 10px;
  /* Поля */
  border: 1px solid #333;
  /* Параметры рамки */
}

.i-letter {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(31, 32, 65, 0.25);
  align-self: center;
}

.additional-services__price {
  margin-left: auto;
}

.additional-services__text {
  width: 60%;
}

.total-price {
  display: inline-flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
  width: 100%;
}

.total-price__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
}

.total-price__dots {
  border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
  flex: 1 auto;
  margin: 0 5px 0 5px;
}

.total-price__price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
}

.canvas-container {
  position: relative;
  margin-top: 20px;
  height: 120px;
  max-width: 320px;
  width: 100%;
  display: grid;
  grid-template-columns: 2;
}
.canvas-container #myChart {
  grid-row: 1;
  grid-column: 1;
  max-width: 120px;
}
.canvas-container #do_legend {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  align-items: flex-end;
}
.canvas-container::before {
  content: "260";
  position: absolute;
  top: 30%;
  left: 12%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #bc9cff;
}
.canvas-container::after {
  content: "голосов";
  position: absolute;
  top: 52%;
  left: 9.5%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
}

#do_legend > ul {
  display: flex;
  flex-direction: column;
}

#do_legend > ul li + li {
  margin-top: 10px;
}

.legend-text {
  position: relative;
  padding: 3px 10px;
  color: rgba(31, 32, 65, 0.75);
  z-index: 2;
  font-size: 14px;
  cursor: pointer;
}

.legend_area_color {
  padding: 5px 5px;
  border-radius: 10px;
  font-size: 0px;
  position: relative;
  top: -5px;
  right: -5px;
}