* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

//

.search-rooms {
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);
  padding-bottom: 70px;
  & > .container {
    display: flex;
    justify-content: space-between;
    & aside {
      margin-top: 30px;
    }
    & .rooms-filter {
      max-width: 266px;
      min-width: 266px;
      & .rooms-filter__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1f2041;
      }
      & .price-range {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
      }
      & .calendar-dropdown {
        width: 100%;
        margin-top: 5px;
      }
      & .rooms-filter__guests {
        margin-top: 20px;
      }
      & .rooms-filter__price {
        margin-top: 30px;
        & .rooms-filter__title {
          display: flex;
          justify-content: space-between;
        }
      }
      .rooms-filter__checkboxes {
        margin-top: 30px;
        & .rooms-filter__title {
          margin-bottom: 16px;
        }
      }
      .rooms-filter__accessibility {
        margin-top: 30px;
        & .rooms-filter__title {
          margin-bottom: 16px;
        }
      }
      .rooms-filter__add-comforts {
        position: relative;
        margin-top: 30px;
        cursor: pointer;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1f2041;
        &::after {
          content: "\e90b";
          position: absolute;
          right: 0;
          top: 0;
          font-family: "icomoon";
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgba(31, 32, 65, 0.5);
          width: 44px;
          height: 100%;
        }
      }
      .add-comforts__content {
        display: none;
        margin-top: 18px;
        & label {
          display: block;
          width: fit-content;
        }
      }
    }
    & .rooms-filter + .filtered-rooms {
      margin-left: 60px;
    }
    & .filtered-rooms {
      & .filtered-rooms__title {
        font-family: Monsterat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #1f2041;
        margin-top: 30px;
      }
      & .filtered-rooms__rooms {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-gap: 12px;
      }
      & .filtered-rooms__card {
        background: #ffffff;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 4px;
        .filtered-rooms__text {
          padding: 20px;
          position: relative;
          .filtered-rooms__text-title {
            border-bottom: 1px solid rgba(31, 32, 65, 0.1);
            padding-bottom: 10px;
          }
          .filtered-rooms__rating {
            padding-top: 10px;
          }
        }
      }
      .pagination {
        margin-top: 40px;
        .pagination__numbers {
          display: flex;
          justify-content: center;
          & li {
            width: 40px;
            height: 40px;
            & a {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: Montserrat;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 15px;
              display: flex;
              align-items: center;
              text-align: center;
              color: rgba(31, 32, 65, 0.5);
              & i {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
                border-radius: 22px;
                &::before {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 24px;
                  line-height: 20px;
                  display: flex;
                  align-items: center;
                  text-align: center;
                  color: #ffffff;
                }
              }
            }
          }
          & .active-page {
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            border-radius: 22px;
          }
        }
        .pagination__info {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: rgba(31, 32, 65, 0.75);
        }
      }
    }
  }
}

/* Слайдер */

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  
}

/* Лента слайдов */
.slick-track {
  display: flex;
}
// Конкретный слайдер
.card-slider {
  position: relative;
  --arrow-display: none;
  .card-slider__item {
    text-align: center;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
  }
  .slick-arrow.slick-prev {
    display: var(--arrow-display) !important;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    top: 0;
  }
  .slick-arrow.slick-prev::after {
    content: "\e90b";
    position: relative;
    font-family: "icomoon" !important;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    transform: rotate(90deg);
    display: block;
  }
  .slick-arrow.slick-next {
    right: 0;
    display: var(--arrow-display) !important;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    top: 0;
  }
  .slick-arrow.slick-next::after {
    content: "\e90b";
    position: relative;
    font-family: "icomoon" !important;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    transform: rotate(90deg);
    display: block;
  }
  &:hover {
    --arrow-display: flex;
  }
  .slick-dots {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 20;
    li {
      list-style: none;
    }
    button {
      font-size: 0;
      width: 7.5px;
      height: 7.5px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #fff;
      filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
    }
    li + li {
      margin-left: 3.75px;
    }
    /* Активная точка */
    li.slick-active button {
      background-color: #fff;
      box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    }
  }
}

// Range Slider

.irs-line {
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
  height: 6px !important;
}

.irs-bar {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 3px;
  height: 6px !important;
}

.irs-handle.from {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 12px !important;
  height: 12px !important;
  box-sizing: content-box;
}

.irs-handle.to {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 12px !important;
  height: 12px !important;
  box-sizing: content-box;
}

// Шкалы на границах слайдера

.irs--flat .irs-handle {
  top: 20px !important;
}
.irs--flat .irs-handle > i:first-child {
  display: none !important;
}

.irs-from,
.irs-to,
.irs-min,
.irs-max {
  visibility: hidden !important;
}

// Toxin Checkboxes

.cbx-area {
  display: inline-flex;
  align-items: center;
  position: relative;
  user-select: none;
  cursor: pointer;
  padding-left: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  min-height: 20px;
}
.toxin-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.cbx-area__cbx {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.cbx-area .toxin-checkbox:checked ~ .cbx-area__cbx {
  border: 1px solid #bc9cff;
}

.cbx-area__cbx::after {
  content: "";
  position: absolute;
  display: none;
}

.cbx-area .toxin-checkbox:checked ~ .cbx-area__cbx::after {
  display: block;
}

.cbx-area .cbx-area__cbx::after {
  width: 6px;
  height: 8px;
  transform: rotate(45deg);
  border: 10px solid;
  border-left: none;
  border-top: none;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  left: 6px;
  top: 4px;
}

.cbx-area__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

.cbx-area__more {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
  margin-top: 5px;
}

.cbx-area + .cbx-area {
  margin-top: 10px;
}

// Toxin stars

.star-filled {
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 20px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
